
  <% for (var i in desktop) { %>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex align-items-stretch">
      <div class="card shadow" style="width: 18rem;">
        <div class="container">
          <div class="inner">
            <img src="" alt="Image 404" class="card-img-top"/>
          </div>
          <div class="card-body">
            <h5 class="card-title">
                <%= desktop[i]["name"][0] %>
            </h5>
            <p class="card-text">
              <strong>CPU: </strong>
              <%= desktop[i]["cpu"][0] %>
              <br>
            </p>
            <p class="cardplat">
              <strong>Marca: </strong> <%= desktop[i]["brand"][0] %>
              <br>
              <strong>Preco: </strong> <%= desktop[i]["price"][0] %>
            </p>
            <a class="btn btn-primary" name="name" href="/perifericos/desktop/<%= desktop[i]["name"][0] %>">Detalhes</a>
          </div>
        </div>
      </div>
    </div>
  <% } %>
